{{#if existUsers}}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Login</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{login}}</td>
        <td>{{email}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
  No data
{{/if}}